<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
        
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          
        </div>

        <div id="navbar" class="navbar-collapse collapse">
      
          <ul class="nav navbar-nav">
          <img src="/assets/img/logo2.png" height = "50px" width = "50px" class="pull-left">
          <!-- we need to update links in href -->
                <li><a href="/manager/Matt">Home</a></li>
                <li><a href="/managers/allsold">Items Sold</a></li>
                <li><a href="/managers/lowstock">Low Stock Items</a></li>
                 <li><a href="/managers/addproduct">Add Product</a></li>
                <li><a href= "/managers/allinventory">Manage Inventory</a></li>
                <li><a href= "/managers/addstock">Add Stock</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
            <li><a href="/managers/addsalesperson">Manage Staff</a></li>
            <li><a href="/login">Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class= "lowStock">

 <h1 id = "lowStockTitle">Low Stock  </h1>

<hr>
 <table class="table">
    <thead> 
        <th> Name</th> 
        <th> Quantity</th> 
        <th>Price </th>
        <th> Region  </th>
        <th> Department </th> 
    </thead> 
    <tbody> 
        {{#each products}} 
        <tr> 
            <td>{{this.product_name}}</td> 
            <td>{{this.stock_qty}}</td> 
            <td>{{this.unit_price}} $</td>
            <td>{{this.regionCode}}</td>
            <td>{{this.category}}</td
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</div>





